.grow{
  transition: all 0.2s ease-out;
}
a.grow:hover,
a.grow:focus,
a.grow:active
{
  transform: scale(1.03);
  box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.22);
}

[data-aos="new-animation"] {
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    opacity: 1;
  }
  @media screen and (min-width: 767px) {
    transform: translateX(100px);
    &.aos-animate {
      transform: translateX(0);
    }
  }
}
[data-aos='fade-up-mini'] {
  transform: translate3d(0, 10, 0);
}
