@import "mixins";
html, body{
  overflow-x: hidden;
}

* {
  @include font-jp;
  font-size: get-vw(15px);
  @media screen and (max-width: 1280px) {
    font-size: 15px;
  }
  @media screen and (max-width: 768px){
    font-size: responsive-vw(15px);
  }
  letter-spacing: get-vw(1.3px);
  &.strong{
    font-weight: 600;
  }
  &.bold{
    font-weight: bold;
  }
  .en{
    @include font-en;
    &-demi{
      @include font-en-demi;
    }
    &-medi{
      @include font-en-medi;
    }
  }
  @media screen and (max-width: 768px) {
    letter-spacing: responsive-vw(1.3px);
    .pc{
      display: none;
    }
  }
  @media screen and (min-width: 769px) {
    .sp{
      display: none;
    }
  }
}
.page-title{
  @include font-en-medi;
  font-size: get-vw(45px);
  line-height: 1.71;
  letter-spacing: get-vw(9px);
  @media screen and (max-width: 768px){
    font-size: responsive-vw(40px);
    letter-spacing: responsive-vw(8px);
  }
}


a{
  text-decoration: none;
  color: unset;
}
ul{
  padding: 0;
  list-style: none;
}

.small{
  font-size: get-vw(14px);
  @media screen and (min-width: 1280px){
    font-size: 14px;
  }
  @media screen and (max-width: 768px){
    font-size: responsive-vw(11px);
  }
}
.smallest{
  font-size: get-vw(9px);
  @media screen and (max-width: 768px){
    font-size: responsive-vw(11px);
  }
}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.responsive-container{
  width: get-vw(1250px);
  @media screen and (max-width: 768px){
    width: responsive-vw(363px);
    margin: auto;
  }
}


.flex{
  display: flex;
  &.column{
    flex-flow: column;
  }
  &.between{
    justify-content: space-between;
  }
  &.center-align{
    align-items: center;
  }
  &.sp-column-reverse{
    @media screen and (max-width: 768px){
      flex-flow: column-reverse;
    }
  }
}

.block{
  display: block;
}

a{
  //display: block;
}
a:hover{
  //transform: scale(1.01);
  transform: translate(1px,1px);
  transition: 0.1s;
}

@media screen and (max-width: 768px){
  .pc{
    display: none !important;
  }
}
@media screen and (min-width: 769px){
  .sp{
    display: none !important;
  }
}
//common
.img-box{
  background-size: contain;
  background-repeat: no-repeat;
}

.slick-dots li button:focus:before {
  opacity: 0.25;
}

//.slick-dots li button:focus:before{
//  opacity: 0.25 !important;
//}
