@import "mixins";
html, body{
  overflow-x: hidden;
}

* {
  font-family: $noto;
  font-size: 20px;
  font-weight: 400;
  @media screen and (max-width: 768px){
    font-size: 16px;
  }
  &.bold{
    font-weight: bold;
  }
  .roboto{
    font-family: $roboto;
  }
  @media screen and (max-width: 768px) {
    .pc{
      display: none;
    }
  }
  @media screen and (min-width: 769px) {
    .sp{
      display: none;
    }
  }
}
.page-title{
  font-size: 22px;
  @media screen and (max-width: 768px){
    font-size: 18px;
  }
}

.green{
  color: $main-color;
}
a{
  text-decoration: none;
  color: unset;
}
ul{
  padding: 0;
  list-style: none;
}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.responsive-container{
  width: $pc-contents;
  max-width: $pc-max;
  @media screen and (max-width: 768px){
    width: responsive-vw(363px);
    margin: auto;
  }
}


.flex{
  display: flex;
  &.column{
    flex-flow: column;
  }
  &.between{
    justify-content: space-between;
  }
  &.center-align{
    align-items: center;
  }
  &.sp-column-reverse{
    @media screen and (max-width: 768px){
      flex-flow: column-reverse;
    }
  }
}

.block{
  display: block;
}

.vertical{
  writing-mode: vertical-lr;
}

a:hover{
  transform: translate(1px,1px);
}

@media screen and (max-width: 768px){
  .pc{
    display: none !important;
  }
}
@media screen and (min-width: 769px){
  .sp{
    display: none !important;
  }
}
//common
.img-box{
  background-size: contain;
  background-repeat: no-repeat;
}

.slick-dots li button:focus:before {
  opacity: 0.25;
}
