@import "mixins";

.comp-category-card{
  margin-bottom: get-vh(46px);
  color: #fff;
  transition: all 0.2s ease-out;

  @media screen and (max-width: 768px) {
    width: responsive-vw(363px);
    //height: responsive-vw(573px);
    margin: 0 auto get-vh(36px);
    height: auto;
    padding-bottom: 5vw;
    color:  #282828;
    //&:active,
    //:focus
    //{
      box-shadow: 9px 9px 50px 0 rgba(0, 0, 0, 0.16);
      background-color: #fff;
    //}
    .txt-box{
      margin: auto;
      width: 90%;
    }
  }
  .en-medi{
    font-size: get-vw(45px);
    letter-spacing: 4.5px;
    @media screen and (max-width: 768px) {
      font-size: responsive-vw(30px);
      font-weight: bold;
      margin: responsive-vw(26px) 0 responsive-vw(6px);
    }
  }
  .strong{
    margin: get-vh(5px) 0 get-vh(25px);
    @media screen and (max-width: 768px){
      //color: #7b7b7b;
      color: #3aaa98;
      margin: 0 0 responsive-vw(16px) 0;
    }
  }
  .column{
    justify-content: space-between;
    //height: get-vh(278px);
  }
  .button{
    margin-top: get-vh(30px);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  >div.img-box{
    @include width-height(1214px, 434px);
    //@include width-height(1461px, 642.6px);
    display: flex;
    align-items: center;
    background-size: cover;
    @media screen and (max-width: 768px) {
      width: responsive-vw(363px);
      height: responsive-vw(362px);
    }


    &.left{
      margin-right: auto;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 3px 15px 30px 0 rgba(0, 0, 0, 0.16);
      @media screen and (max-width: 768px) {
        box-shadow: none;
      }

      @media screen and (max-width: 768px) {
        margin: auto;
        border-radius: 5px;
      }
      .content-container{
        //padding: get-vh(151px) 0 0 get-vw(187px);
        padding-left: get-vw(187px);
        @media screen and (max-width: 768px) {
          padding: 0;
        }
      }
    }
    &.right{
      margin-left: auto;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      //padding: get-vh(151px) 0 0 get-vw(680px);
      padding-left: get-vw(680px);
      box-shadow: -3px 15px 30px 0 rgba(0, 0, 0, 0.16);

      @media screen and (max-width: 768px) {
        box-shadow: none;
        margin: auto;
        border-radius: 5px;
        padding: 0;
      }
    }

  }
}

.comp-section-title{
  text-align: center;
  color: #292929;
  .section-title{
    font-size: get-vw(25px);
    letter-spacing: 3px;
    @media screen and (max-width: 768px) {
      font-size: responsive-vw(22px);
      letter-spacing: 2.2px;
    }
  }
  @media screen and (max-width: 768px) {
    line-height: 2.08;
  }
  hr{
    width: get-vw(50px);
    margin: get-vh(30px) auto;
    border: solid get-vh(1px) #22aa95;
    background-color: #22aa95;
    @media screen and (max-width: 768px){
      width: responsive-vw(45px);
      margin: responsive-vw(23px) auto;
    }
  }
  h3{
    font-weight: 400;
  }
}


.hero-banner {
  height: get-vh(388px);
  width: 100%;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  @media screen and (max-width: 768px){
    height: get-vh(158px);
  }
  &.why-vegan {
    background-image: url("~@/assets/img/cat-whyvegan.jpg");
  }
  &.top {
    background-image: url("~@/assets/img/top.jpg");
    height: get-vh(388px);
    width: 100%;
    @media screen and (max-width: 768px){
      height: get-vh(158px);
    }
    h1{
      padding-top: 0;
    }
  }
  &.nutrition {
    background-image: url('~@/assets/img/cat-nutrition.jpg');
  }

  &.recipe {
    background-image: url('~@/assets/img/cat-recipe.jpg');
  }

  &.restaurant {
    background-image: url('~@/assets/img/cat-restaurant.jpg');
  }

  &.faq {
    background-image: url('~@/assets/img/cat-faq.jpg');
  }
}
