@import "mixins";
.comp-section-title{
  text-align: center;
  color: #292929;
  @media screen and (max-width: 767px){
    width: responsive-vw(305px);
    text-align: left;
    margin: auto;
  }
  .section-title{
    font-size: get-vw(53px);
    letter-spacing: get-vw(2.65px);
    @media screen and (max-width: 767px) {
      font-size: responsive-vw(61px);
      letter-spacing: 2.2px;
      line-height: 1.05;
    }
  }
  @media screen and (max-width: 767px) {
    line-height: 2.08;
  }
  hr{
    width: get-vw(88px);
    margin: get-vh(30px) auto;
    border: solid 1px $main-color;
    background-color: $main-color;
    @media screen and (max-width: 767px){
      width: responsive-vw(45px);
      margin: responsive-vw(31px) auto responsive-vw(31px) 0;
    }
  }
  h3{
    @media screen and (max-width: 767px){
      width: responsive-vw(266px);
      font-weight: 200;
      letter-spacing: responsive-vw(0.33px);
      line-height: 2;
      font-size: responsive-vw(14px);
    }
  }
}

body[data-aos-duration='5000'] [data-aos],
[data-aos][data-aos][data-aos-duration='5000'] {
  transition-duration: 5000ms;
}
