@import "mixins";

.category-item{
  .button{
    margin: responsive-vw(-30px) auto responsive-vw(96px);
  }
}
.category-description{
  font-size: get-vw(15px);
  letter-spacing: get-vw(0.75px);
  width: get-vw(560px);
}
.comp-category-card{
  margin-bottom: get-vh(12px);
  color: #fff;
  transition: all 0.2s ease-out;
  @media screen and (max-width: 768px) {
    margin: 0 auto;
    height: responsive-vw(562px);
    background-size: cover;
    padding-bottom: 5vw;
    color:  #282828;
    .category-link-text{
      width: responsive-vw(340px);
      margin-left: responsive-vw(35px);
      gap: responsive-vw(30px);
      a{
        margin: 0;
        font-weight: 300;
        color: $main-color;
        font-size: responsive-vw(12px);
        white-space: nowrap;
      }
    }
    .txt-box{
      margin: 0 auto 0 responsive-vw(35px);
      width: responsive-vw(300px);
      color: #fff;
      padding-top: 65%;
    }
    .bigTxt{
      font-size: responsive-vw(30px);
      line-height: 1.37;
      letter-spacing: 0.75px;
      font-weight: 600;
      margin: responsive-vw(13px) 0 responsive-vw(50px);
    }
    .card-title{
      p{
        font-size: responsive-vw(13px);
        letter-spacing: 0.33px;
        &.en{
          font-size: responsive-vw(14px);
          letter-spacing: 0.7px;
        }
      }
      .green {
        margin: 0 responsive-vw(10px) responsive-vw(5px);
      }
    }
    .line{
      border-bottom: 1px solid $gray;
      width: 100%;
      margin-right: responsive-vw(35px);
    }
  }
  .en-medi{
      font-size: get-vw(53px);
      letter-spacing: get-vw(2.65px);
    font-weight: normal;
    @media screen and (max-width: 768px) {
      font-size: responsive-vw(30px);
      font-weight: bold;
      margin: responsive-vw(26px) 0 responsive-vw(6px);
    }
  }
  .strong{
    margin: get-vw(22px) 0;
    color: $main-color;
    font-weight: 400;
    font-size: get-vw(15px);
    letter-spacing: get-vw(0.75px);
  }
  .column{
    justify-content: space-between;
    //height: get-vh(278px);
  }
  .button{
    margin-top: get-vh(30px);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  >div.img-box{
    @include width-height(1308px, 467px);
    //@include width-height(1461px, 642.6px);
    display: flex;
    align-items: center;
    background-size: cover;

    &.left{
      margin-right: auto;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 3px 15px 30px 0 rgba(0, 0, 0, 0.16);
      @media screen and (max-width: 768px) {
        box-shadow: none;
        margin: auto;
        border-radius: 0;
        //border-radius: 5px;
      }
      .content-container{
        //padding: get-vh(151px) 0 0 get-vw(187px);
        padding-left: get-vw(187px);
        @media screen and (max-width: 768px) {
          padding: 0;
        }
      }
    }
    &.right{
      margin-left: auto;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      //padding: get-vh(151px) 0 0 get-vw(680px);
      padding-left: get-vw(680px);
      box-shadow: -3px 15px 30px 0 rgba(0, 0, 0, 0.16);

      @media screen and (max-width: 768px) {
        box-shadow: none;
        margin: auto;
        //border-radius: 5px;
        border-radius: 0;
        padding: 0;
      }
    }

  }
}

.comp-section-title{
  text-align: center;
  color: #292929;
  @media screen and (max-width: 768px){
    width: responsive-vw(305px);
    text-align: left;
    margin: auto;
  }
  .section-title{
    font-size: get-vw(53px);
    letter-spacing: get-vw(2.65px);
    @media screen and (max-width: 768px) {
      font-size: responsive-vw(61px);
      letter-spacing: 2.2px;
      line-height: 1.05;
    }
  }
  @media screen and (max-width: 768px) {
    line-height: 2.08;
  }
  hr{
    width: get-vw(88px);
    margin: get-vh(30px) auto;
    border: solid 1px $main-color;
    background-color: $main-color;
    @media screen and (max-width: 768px){
      width: responsive-vw(45px);
      margin: responsive-vw(31px) auto responsive-vw(31px) 0;
    }
  }
  h3{
    @media screen and (max-width: 768px){
      width: responsive-vw(266px);
      font-weight: 200;
      letter-spacing: responsive-vw(0.33px);
      line-height: 2;
      font-size: responsive-vw(14px);
    }
  }
}


.hero-banner {
  height: get-vh(388px);
  width: 100%;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  @media screen and (max-width: 768px){
    //height: get-vh(158px);
    height: get-spvh(550px);
  }
  &.why-vegan {
    background-image: url("~@/assets/img/cat-whyvegan.jpg");
    @media screen and (max-width: 768px){
      background-image: url("~@/assets/img/sp-cat-whyvegan.jpg");
    }
  }
  &.archive {
    background-image: url("~@/assets/img/cat-archive-pc.jpg");
    height: get-vh(388px);
    width: 100%;
    @media screen and (max-width: 768px){
      background-image: url("~@/assets/img/cat-archive-sp.jpg");
      height: 34vh;
    }
    h1{
      padding-top: 0;
    }
  }
  &.nutrition {
    background-image: url('~@/assets/img/cat-nutrition.jpg');
    @media screen and (max-width: 768px){
      background-image: url("~@/assets/img/sp-cat-nutrition.jpg");
    }
  }

  &.recipe {
    background-image: url('~@/assets/img/cat-recipe.jpg');
    @media screen and (max-width: 768px){
      background-image: url("~@/assets/img/sp-cat-recipe.jpg");
    }
  }

  &.restaurant {
    background-image: url('~@/assets/img/cat-restaurant.jpg');
    @media screen and (max-width: 768px){
      background-image: url("~@/assets/img/sp-cat-restaurant.jpg");
    }
  }

  &.faq {
    background-image: url('~@/assets/img/cat-faq.jpg');
    @media screen and (max-width: 768px){
      background-image: url("~@/assets/img/sp-cat-faq.jpg");
    }
  }
}

body[data-aos-duration='5000'] [data-aos],
[data-aos][data-aos][data-aos-duration='5000'] {
  transition-duration: 5000ms;
}
