@function get-vw($target) {
  $vw-context: (1366*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}
@function get-vh($target) {
  $vw-context: (900*.01) * 1px;
  @return ($target/$vw-context) * 1vh;
}
@function get-spvh($target) {
  $vw-context: (844*.01) * 1px;
  @return ($target/$vw-context) * 1vh;
}

@function responsive-vw($target) {
  $vw-context: (375*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}
@function tab-vw($target) {
  $vw-context: (767*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@mixin content-container(){
  width: $pc-contents;
  max-width: $pc-max;
  margin: auto;
  @media screen and (max-width: 767px){
    width: 100%;
  }
}

@mixin width-height($width,$height){
  width: get-vw($width);
  height: get-vw($height);
}
@mixin res-width-height($width,$height){
  width: responsive-vw($width);
  height: responsive-vw($height);
}
