@import "mixins";
$main-color: #3A5F3E;
$pc-contents: get-vw(840px);
$pc-max: 840px;
$sp-contents: responsive-vw(339px);
$gray: #888;
$black: #191919;
$noto: 'Noto Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$bg: #FCFBF8;
$black: #261F1C;


//renewal
$accent_red: #c73b2d;
